@use '../shared/styles/utils/viriables' as *;
@use '../shared/styles/utils/mixins' as *;

.title{
  display: none;
}

.sectionTitleText {
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1%;

  padding-block: 24px;

  @include on-tablet {
    padding-block: 32px;
    font-size: 48px;
  }

  @include on-desktop {
    padding-block: 64px;
  }
}
